
  .eventcacontainer {
    background-color: #D7CCC8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .eventcscard {
    background-color: #fff;
    max-width: 800px;
    box-shadow: 2px 2px 5px #9E9E9E, -1px -1px 5px #9E9E9E;
    border-radius: 3px;
    display: grid;
    grid-template-column: repeat(5, 1fr);
  }
  .eventcscard .eventcaimg-container {
    width: 230px;
    height: 100%;
    grid-column: 2;
    background-color: #c1b7b4;
    background-image: url('https://www.dropbox.com/s/7d5qt5wb2xpqeww/city-street.jpg?raw=1');
    background-size: cover;
    background-position: center center;
  }
  .eventcacard-content {
    grid-column: 3 / 5;
    padding: 10px 30px;
    border-left: 1px solid #ccc;
  }
  .eventcacontainer h2 {
    text-transform: uppercase;
    color: #555;
  }
  .eventcacontainer h1 {
    margin-bottom: 0;
  }
  .eventcacard-content .eventcaauthor {
    border-top: 1px solid #cdcdcd;
    font-weight: 700;
    margin-top: 25px;
    padding: 25px 0 10px 0;
    color: #555;
  }
  
  @media only screen and (max-width:600px) {
    .eventcscard {
      display: block;
    }
    .eventcscard .eventcaimg-container {
      height: 250px;
      width: 100%;
    }
    .eventcacard-content {
      border: 0;
      border-top: 1px solid #ccc;
    }
  }